body{
	background: #fff;
	color: #000;
	font-family: 'Roboto', sans-serif;
}
#projects{
	width: 90%;
	height: auto;
	margin: 50px auto;
	display: block;
}
.project{
	position: relative;
	display: block;
	width: 90%;
	height: 260px;
	margin: 20px auto;	
	padding: 20px 0px 10px 0px;
	border: solid grey 1px;
	background: rgba(120,120,120,.2);
}
.name-project{
	font-size: 1.5em;
	text-align: center;
	margin: 20px 25px;
}
.description-project{
	margin: 40px 20px 40px 20px;
	text-align: center;
}
.project-link{
	color: rgb(60, 60, 200);
	text-decoration: none;
	margin: 10px;
}
.project-source{
	position: absolute;
	bottom: 25px;
	left: 25px;
}
.project-pictures{
	position: absolute;
	bottom: 25px;
	right: 25px;
}
#networks{
	text-align: center;
	margin: 80px auto 50px auto;
}
#networks img{
	width: 35px;
	height: 35px;
	margin: 10px;
}
@media screen and (min-width: 767px){
	.project{
		display: inline-block;
		width: 40%;
		height: 260px;	
		padding: 20px 0px 10px 0px;
		margin: 50px 4%;
		border: solid grey 1px;
		float: left;
	}
	#networks{
		clear: both;
	}
	#networks img{
		width: 45px;
		height: 45px;
		margin: 10px;
	}
}
@media screen and (min-width: 950px){
	#projects{
		max-width: 1700px;	
	}
	.project{
		width: 30%;
		height: 260px;	
		padding: 20px 0px 10px 0px;
		margin: 50px 1%;
		border: solid grey 1px;
		float: left;
	}
	#networks img{
		width: 50px;
		height: 50px;
	}
}