*{
	font-family: 'Dosis', sans-serif;
	padding: 0;
	margin: 0;
}
:root{
	--blur_color: rgba(0,0,0,.2);
    --source_link_bg_color: #1A5A6D;

	--main_text_color: #fff;
	--titles_color: #fff;
	--projects_text_color: #000;
    --languaje_text_color: #fff;
    --source_link_text_color: #fff;

	--border_project_color: #ccc;

    --kotlin_bg_color: #F18E33;
    --php_bg_color: #4F5D95;
    --js_bg_color: #f1e05a;
    --java_bg_color: #b07219;
}
body{
	 color: var(--main_text_color);
	 background: rgb(240, 240, 240);
 }
#full-page{
	width: 100%;
	height: 100vh;
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: -80px 50%;
}
.blur{
	width: 100%;
	height: 100%;
	background: var(--blur_color);
}
#main-content{
	width: 90%;
	animation: 1s fadeIn 1;
}
h1.title{
	font-size: 2em;
	margin: 20px;
	line-height: 1em;
}
h2.title{
	font-size: 1.6em;
	line-height: 1.5em;
}
.center-text{
	text-align: center;
}
.center-content{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#networks{
	margin: 20px auto;
	width: 100%;
}
#networks img{
	width: 35px;
	height: 35px;
	margin: 10px;
}
#networks img:hover{
	animation: 1s gum 1;
}
@keyframes fadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@keyframes gum{
	30%{
		transform: scaleX(1.25) scaleY(0.75);
	}
	50%{
		transform: scaleX(0.75) scaleY(1.25);
	}
	60%{
		transform: scaleX(1.10) scaleY(0.85);
	}
}
#scroll-projects{
	width: 32px;
	height: 32px;
	position: absolute;
	bottom: 20px;
	left: 50%;
	cursor: pointer;
	background-image: url("../img/arrow.png");
	background-repeat: no-repeat;
	background-size: cover;
	animation: infinite scroll-button 1.5s linear;
	transform: translateX(-50%);
}
@keyframes scroll-button{
	0%{
		opacity: 0.2;
		transform-origin: 50% 50%;
		transform: scale(1) translateX(-50%);

	}
	50%{
		opacity: 1;
		transform-origin: 50% 50%;
		transform: scale(1.5) translateX(-33%);
	}
	100%{
		opacity: 0.2;
		transform-origin: 50% 50%;
		transform: scale(1) translateX(-50%);
	}
}
#projects-content{
	color: var(--projects_text_color);
}
.project{
	border-bottom: solid var(--border_project_color) 1px;
	width: 100%;
	cursor: pointer;
	padding: 10px 0;
}
.name-project{
    display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1.4em;
	margin: 0 10px;
}
.language{
    display: inline-block;
    border-radius: 14px;
    margin: 0 10px;
    padding: 8px 10px;
    color: var(--languaje_text_color);
    min-width: 60px;
}
.java-lang{
    background: var(--java_bg_color);
}
.kotlin-lang{
    background: var(--kotlin_bg_color);
}
.php-lang{
    background: var(--php_bg_color);
}
.js-lang{
    background: var(--js_bg_color);
}
.description{
    width: 100%;
    height: 0;
    overflow: hidden;
    display: block;
}
.description p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 10px 20px;
    display: block;
}
.project-link{
    width: 60px;
    background: var(--source_link_bg_color);
    border: solid  var(--source_link_bg_color);
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    color:  var(--source_link_text_color);
    margin: 10px 20px;
    display: block;
}
.project-link:hover{
    transition: color 0.5s, background 0.5s;
    background: var(--source_link_text_color);
    color: var(--source_link_bg_color);
}
@media screen and (min-width: 480px){
    h1.title{
        font-size: 2.8em;
    }
    h2.title{
        font-size: 1.8em;
    }
    #networks img{
        width: 35px;
        height: 35px;
    }
}
@media screen and (min-width: 767px){
    h1.title{
        font-size: 3em;
    }
    h2.title{
        font-size: 2em;
    }
    #networks img{
        width: 38px;
        height: 38px;
    }
}
@media screen and (min-width: 950px){
	#full-page{
		background-position: 0 50%;
	}
    h1.title{
        font-size: 3em;
    }
    h2.title{
        font-size: 2em;
    }
    #networks img{
        width: 40px;
        height: 40px;
    }
}