body{
	font-family: 'Roboto', sans-serif;
	color: #000;
	background: rgb(240, 240, 240);
}
header{
	width: 100%;
	height: 75px;
	background: #0b1c21;
}
#front{
	background: rgb(250, 250, 250);
	padding: 120px 20px 150px 20px;
}
#title{
	text-align: center;
	width: 100%;
	animation: 1s fadeIn 1;
}
#title h1{
	font-size: 2.4em;
	font-family: 'Dosis', sans-serif;
	font-weight: 300;
	margin: 10px 25px;
}
#title h2{
	font-size: 1.5em;
	font-family: 'Dosis', sans-serif;
	font-weight: 300;
	margin: 10px 25px;
}
strong{
	font-weight: 800;
}
#networks{
	text-align: center;
	margin: 80px auto 50px auto;
	animation: 1s fadeIn 1;
}
#networks img{
	width: 35px;
	height: 35px;
	margin: 10px;
}
#networks img:nth-child(0):hover{
	animation: 1s gum 1;
}
#networks img:nth-child(1):hover{
	animation: 1s gum 1;
}
@keyframes fadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@keyframes gum{
	30%{
		transform: scaleX(1.25) scaleY(0.75);
	}
	50%{
		transform: scaleX(0.75) scaleY(1.25);
	}
	60%{
		transform: scaleX(1.10) scaleY(0.85);
	}
}
h2{
	text-align: center;
	font-size: 2.2em;
	margin: 50px 25px;
	font-weight: 900;
}
.projects{
	width: 90%;
	height: auto;
	margin: 50px auto;
	display: block;
}
.project{
	position: relative;
	display: block;
	width: 90%;
	height: auto;
	margin: 20px auto;	
	padding: 20px 0px 10px 0px;
	background: #fff;
    border-radius: 5%;
    color: #000;
    transform: translate(0);
	animation: 1s fadeIn 1;
	transform-origin: top center;
}
.name-project{
	font-size: 1.5em;
	text-align: center;
	margin: 20px 25px;
	font-weight: 800;
}
.java-lang{
	background: #b07219;
}
.kotlin-lang{
	background: #F18E33;
}
.cpp-lang{
	background: #f34b7d;
}
.language-used{
	text-align: center;
	width: 100%;
	display: block;
	margin: 25px 0px 10px 0px;
}
.language{
	display: inline-block;
	width: 20%;
	border-radius: 6px;
	margin: 0px 10px;
	padding: 4px 0px;
}
.language-used span{
	color: white;
	cursor: context-menu;
}
.description-project{
	position: relative;
	margin: 40px 25px 80px 25px;
	text-align: center;
	font-size: 1.2em;
}
.links-projects{
	position: relative;
	padding: 10px 0px 45px 0px;
	width: 100%;
	position: absolute;
	bottom: 0%;
}
.project-link{
	background: rgb(11, 183, 137);
	border: solid rgb(11, 183, 137);
	border-radius: 10px;
	padding: 10px;
	text-decoration: none;
	color: #fff;
}
.link1, .link2{
	width: 50%;
	text-align: center;
	float: left;
}
.project-link:hover{
	transition: color 0.5s, background 0.5s;
	background: #fff;
	color: rgb(11, 183, 137);
}
@media screen and (min-width: 480px){
	#title h1{
		font-size: 3em;
	}
	#title h2{
		font-size: 1.8em;
	}
	.links-projects{
		height: auto;
	}
	.projects{
		max-width: 400px;	

	}
	#networks img{
		width: 35px;
		height: 35px;
		margin: 10px;
	}
	#networks{
		margin: 0px auto 0px auto;
	}
	
}
@media screen and (min-width: 767px){
	#networks{
		clear: both;
	}
	#title h1{
		font-size: 4em;
	}
	#title h2{
		font-size: 3em;
	}
	#networks img{
		width: 40px;
		height: 40px;
	}
	.links-projects{
		height: auto;
	}
	.projects{
		max-width: none;	
	}
	.project{
		display: inline-block;
		width: 40%;
		height: 350px;	
		padding: 20px 0px 10px 0px;
		margin: 50px 4%;
		float: left;
	}
	.language{
		margin: 0px 20px;
		width: 20%;
		padding: 6px 0px;
	}
	.description-project{
		margin: 40px 30px;
    }
}
@media screen and (min-width: 950px){ 
	#networks{
		margin: 100px auto 25px auto;
	}
	#networks img{
		width: 45px;
		height: 45px;
	}
	.language{
		margin: 0px 20px;
		width: 20%;
		padding: 6px 0px;
	}
	.language-used{
		height: 50px;
	}
	.projects{
		max-width: 1700px;
	}
	.project{
		width: 30%;
		height: 390px;	
		padding: 20px 0px 10px 0px;
		margin: 50px 1%;
		float: left;
	}
	.description-project{
		margin: 40px;
    }
}